<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="pagetitle">
    <h1>Formalities</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashbord">Home</a></li>
        <li class="breadcrumb-item">Formalities</li>
        <li class="breadcrumb-item active">Credits</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
<div class="reyna">
  <h3><strong> Prêt personnel </strong> </h3>
            <h3><strong> Conditions d’obtention </strong></h3>
            
            <p> 
                - Avoir une ancienneté d’affiliation de trois (03) ans au moins à un régime de sécurité sociale
                <br>
                - Etre en activité à la date du dépôt de la demande (titulaire, occasionnel, stagiaire, militaire contractuel, recruté sous 2éme titre)
                <br>
                - Les charges de remboursement afférentes au cumul des prêts octroyés ne doivent pas dépasser 40% des traitements mensuels bruts de l’affilié
                <br>
                - Le renouvellement du bénéfice du prêt n’est possible qu’après remboursement intégral du prêt antérieur
                <br>
                - Possibilité d’octroi d’un prêt personnel pour les deux conjoints au cours de la même période de recouvrement.
                <br>
                - Le montant du prêt personnel ne peut dépasser une fois et demi le revenu mensuel brut de l’affilié.
                <br>
                -  Le taux d’intérêt  et de 8, 25 %  
                <br>
                NB :  Le recouvrement du prêt se fait avant l’âge légal de mise à la retraite. 
            </p>
                

        <h3><strong> Pièces à fournir </strong></h3>
            <p>
                - Imprimé conçu à cet effet (Demande de prêt personnel) dûment rempli et signé par l’affilié et l’employeur
                <br>
                - Copie de la carte d’identité nationale<br>
                - Relevé de l’identité bancaire ou postale.<br>
            </p>


        <h3><strong> Prêt véhicule </strong></h3>

            <p>
                En raison de la situation financière difficile, la CNRPS est contrainte de n’accorder que deux types de prêts : les prêts personnels (pour les financements à caractère social pressant) et les prêts universitaires pour les étudiants.
                <br>
                Il est à noter aussi que les efforts de la Caisse se concentrent au paiement des pensions et accessoires.
                <br>
                Il est à signaler que la Caisse procédait à l’accord des prêts sociaux et universitaires  en allouant un budget dérivé des excédents financiers enregistrés.
            </p>

        <h3><strong> Conditions d’obtention<br> a: Conditions relatives à l’affilié : </strong></h3>

            <p> 
                -Avoir une ancienneté d’affiliation de cinq (05) ans au moins à un régime de sécurité sociale
                <br>
                -Etre en activité et titulaire à la date du dépôt de la demande
                <br>
                -Il n’est consenti qu’un seul prêt par ménage pendant la même période de remboursement
                <br>
                -Le renouvellement du bénéfice d’un prêt véhicule n’est possible qu’après remboursement intégral du prêt antérieur
                <br>
                -Les charges de remboursement afférentes au cumul des prêts octroyés ne doivent pas dépasser 40 % des traitements mensuels bruts
                <br>
                -Appartenir à l’une des catégories suivantes :
                <br>
                * Les membres du gouvernement et les députés
                <br>
                * Les magistrats
                <br>
                * Les médecins et le personnel paramédical
                <br>
                * Le personnel actif
                <br>
                * Les hauts cadres nantis d’un emploi fonctionnel à partir de chef de service (pour les agents des APNA ou des entreprises publiques)
                <br>
                * Les agents rangés dans l’une des catégories ci après désignées :
                <br>
                + Catégorie A1 : niveau 5 (salaire de base 249,000 D et plus)
                <br>
                + Catégorie A2 : niveau 8 (salaire de base 244,250 D et plus)
                <br>
                + Catégorie A3 : niveau 13 (salaire de base 245,000 D et plus)
                <br>
                * Les handicapés
            
            </p>
            


    <h3><strong> b: Conditions relatives au véhicule : </strong></h3>
        <p> 
            -Véhicule de tourisme, neuf ou d’occasion, âgé de moins de quatre (04) ans à la date du dépôt de la demande et dont la puissance fiscale ne dépasse pas 11 CV
            <br>
            - Véhicule aménagé pour handicapé, neuf ou d’occasion, âgé de moins de 4 ans à la date du dépôt de la demande et dont la puissance fiscale ne dépasse pas 11 CV.
        </p>     

<h3><strong> Pièces à fournir </strong></h3>
    <p> 
        - Imprimé conçu à cet effet (Demande de prêt véhicule) dûment rempli et signé par l’affilié et son employeur
        <br>
        - Copie de la carte d’identité nationale de l’affilié et du conjoint
        <br>
        - Copie de la décision de nomination pour les agents relevant des entreprise publiques
        <br>
        - Engagement sur l’honneur d’aménager le véhicule après accord du prêt et ce pour les handicapés.
    </p>  

 <h3><strong> a: Cas d’un véhicule neuf </strong></h3>
    <p> - Facture pro forma précisant les caractéristiques du véhicule ; son prix et la date probable de sa
        
        livraison
        <br>
        -Attestation de priorité délivrée par le ministère du commerce et de l’Artisanat pour les véhicules quatre (04) CV
     </p>    
     
     <h3><strong> b: Cas d’un véhicule d’occasion </strong></h3>
     <p> 
        - Promesse de vente portant signature légalisée de la partie vendeuse précisant les caractéristiques du véhicule et le prix de vente.
        <br>
        - Copie de la carte grise du véhicule
      </p>   

<h3><strong> Prêt logement </strong></h3>

    
        <p>  
            En raison de la situation financière difficile, la CNRPS est contrainte de n’accorder que deux types de prêts : les prêts personnels (pour les financements à caractère social pressant) et les prêts universitaires pour les étudiants.
            Il est à signaler que la Caisse procédait à l’accord des prêts sociaux et universitaires  en allouant un budget dérivé des excédents financiers enregistrés.
            Il est à noter aussi que les efforts de la Caisse se concentrent au paiement des pensions et accessoires.
            Construction de logement
            Acquisition d’un logement auprès d’un promoteur immobilier agréé
            Acquisition d’un terrain auprès d’un promoteur immobilier agréé
        </p>     
    
    <h3><strong> Conditions d’obtention <br> a: Conditions relatives à l’affilié : </strong></h3>
        <p> 
            -Avoir une ancienneté d’affiliation, de cinq (05) ans au moins, à un régime de sécurité sociale
            <br>
            -Etre en activité à la date du dépôt de la demande (être titulaire, contractuel ou occasionnel)
            <br>
            -Les charges de remboursement afférentes au cumul des prêts octroyés par la caisse et les banques ne doivent pas dépasser 40% des traitements mensuels bruts de l’affilié avec la possibilité de tenir compte du revenu du conjoint s’il est titulaire et affilié à un régime de sécurité sociale.
            <br>
            - Le montant du prêt consenti et de 15 .000 D
            <br>
            - Le taux d’intérêt et de 6, 75 %.

            Le montant cumulé des crédits consentis par les banques et par la CNRPS ne doit pas dépasser 90 % du coût global du logement ou du terrain
            <br>
            - Possibilité de renouvellement du prêt logement une seule fois après le remboursement intégral du prêt antérieur et selon les mêmes conditions citées ci-dessus
            <br>
            - Possibilité d’octroi de deux prêts pour les deux conjoints au titre d’un logement familial ou acquisition d’un terrain 
        </p>  

    

        <h3><strong> b: Conditions relatives au logement ou au terrain objet du prêt : </strong></h3>
            <p> 
                - le logement ou terrain objet du prêt doit être hypothécable et en situation régulière vis à vis des autorités municipales ou locales compétentes
                <br>
                - l’acquisition du logement ou du terrain doit se faire auprès d’un promoteur immobilier agréé
                <br>
                - les travaux, dans le cas de construction de logement, ne doivent pas concerner l’aménagement, l’extension ou la réhabilitation.
                <br>

                NB : le recouvrement du prêt se fait avant l’âge légal de mise à la retraite.
            </p>     
        
        <h3><strong> Pièces à fournir </strong></h3>
            <p> 
                1: Imprimé conçu à cet effet (Demande de prêt logement) dûment rempli et signé par l’affilié et l’organisme employeur
                <br>
                2: Copie de la carte d’identité nationale de l’affilié et du conjoint
                <br>
                3: Attestation de salaire annuel du conjoint le cas échéant.
            </p>  

        

            <h3><strong> Cas du complément de financement :<br> * Acquisition d’un logement : en plus des pièces 1-2-et 3 sus indiquées </strong></h3>
                <p> 
                    -Promesse de vente délivrée par le promoteur agréé prouvant la réservation du logement et indiquant le coût
                </p>     
            
                <h3><strong> Prêt universitaire </strong></h3>

                    <h3><strong> Conditions d’obtention <br> 
                        A- Pour le demandeur de la prestation : </strong></h3>
                        <p> 
                            - Les émoluments annuels de l’affilié ou de l’affilié et son conjoint –le cas échéant- doivent être compris entre une fois et quatre fois et demi le salaire minimum industriel garanti (SMIG).
                            <br>
                            - Affiliation effective d’au moins 2 trimestres à la date du dépôt de la demande.
                        </p>     
                
                    <h3><strong> B- Pour l’étudiant : </strong></h3>
                        <p> 
                            - Etre inscrit dans un établissement public d’enseignement supérieur.
                            <br>
                            - Ne pas être bénéficiaire d’une bourse universitaire nationale ou d’une bourse dans le cadre de la coopération ou d’un prêt universitaire accordé par l’Etat.
                            <br>
                            - Ne pas exercer une activité rémunérée.
                        </p>  

                    <h3><strong> Montant du prêt  et taux d’intêret </strong></h3>
                        <p>
                            -          Le montant du prêt universitaire consenti est égal au montant annuel de la bourse universitaire accordée par l’état.
                            <br>
                            -           Le taux d’intêret annuel est de 5 %.
                            
                            NB : Le dépôt du dossier du prêt ne doit pas dépasser 1 mois à partir de la date d’inscription de l’étudiant.
                        </p>  

                    <h3><strong> Pièces à fournir<br> a: Pour la première fois </strong></h3>
                        <p>
                            1: Imprimé conçu à cet effet dûment rempli et signé par l’affilié et l’étudiant.
                            <br>
                            2: Photocopie de la carte d’identité nationale des parents et de l’étudiant.
                            <br>
                            3: Attestation de salaire de l’affilié.
                            <br>
                            4: Copie de la déclaration unique de revenus des parents au titre de l’année précédente.
                            <br>
                            5: Certificat d’inscription de l’étudiant dans un établissement d’enseignement supérieur.
                            <br>
                            6: Relevé d’identité bancaire ou postal de l’étudiant.
                            <br>
                            7: En ce qui concerne les étudiants qui ont déjà bénéficié d’un prêt ou d’une bourse universitaire accordé par l’Etat, outre les pièces sus-mentionnées le dossier doit comprendre :
                            <br>
                            * Certificat de non bénéfice d’une bourse universitaire nationale ou d’une bourse dans le cadre de la coopération ou d’un prêt universitaire accordé par l’Etat.
                            <br>
                            * Attestation de réussite. 
                        </p>  

                    <h3><strong> b: Pour le renouvellement : </strong></h3>
                        <p> 
                            1: Imprimé conçu à cet effet dûment rempli et signé par l’affilié et l’étudiant.
                            <br>
                            2: Attestation de salaire de l’affilié et copie de la déclaration unique de revenus des parents au titre de l’année précédente.
                            <br>
                            3: Certificat d’inscription de l’étudiant dans un établissement d’enseignement supérieur.
                            <br>
                            4: Relevé d’identité bancaire ou postal de l’étudiant.
                            <br>
                            5: Certificat de non bénéfice d’une bourse universitaire nationale ou d’une bourse dans le cadre de la coopération ou d’un prêt universitaire accordé par l’Etat.
                        </p>  



        
    