<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="pagetitle">
    <h1>Affiliation</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashbord">Accueil</a></li>
        <li class="breadcrumb-item">Statistique sur les Affiliation</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
<body>
<div class="content" >
<div class="bi">  
    <iframe title="affiliation" width="1100" height="2090"  
    src="https://app.powerbi.com/view?r=eyJrIjoiNGQ5YTI0ZjMtZDQxNy00MDg1LTgxODItYWQ0MDllOTQzYjI2IiwidCI6ImRiZDY2NjRkLTRlYjktNDZlYi05OWQ4LTVjNDNiYTE1M2M2MSIsImMiOjl9" 
    frameborder="0" allowFullScreen="true"></iframe>
  </div>
</div>
</body>



