<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="pagetitle">
    <h1>Formalities</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashbord">Home</a></li>
        <li class="breadcrumb-item">Formalities</li>
        <li class="breadcrumb-item active">Pensions</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
  <div class="reyna">

    
    <h3><strong>Conditions d’obtention</strong> </h3>
    <p><strong>a : Pour la pension de retraite :</strong><br>
        - Atteindre l’âge légal de mise à la retraite.<br>
        - Cotiser au titre de la retraite pendant une période de quinze (15) ans au moins
        ;<br> cette période étant ramenée à dix (10) ans pour les ouvriers occasionnels.<br>
        <strong>b : Pour l’allocation de vieillesse :</strong><br>
        - Atteindre l’âge légal de mise à la retraite.<br>
        - Cotiser au titre de la retraite pendant une période de cinq (05) ans au moins.<br>
        <strong>Pièces à fournir</strong><br>
        - Arrêté de mise à la retraite.<br>

        - Relevé de services dûment rempli et signé par l’employeur et l’affilié.<br>

        - Photo d’identité.<br>

        - Extrait de naissance le cas échéant.<br>

        - Demande manuscrite pour le prétendant à une allocation de vieillesse.
    </p>


    <h3><strong>Pension de réversion (décès d’un affilié en activité)</strong></h3>
    <p><strong>Conditions d’obtention</strong><br>
        -Etre conjoint non divorcé de l’affilié décédé.<br> 
        <strong>Pièces à fournir</strong><br> 
        - Imprimé « Fiche de renseignements » à remplir par le conjoint survivant.<br> 

        - Relevé de services de l’affilié décédé dûment rempli et signé par l’employeur.<br> 

        - Acte de décès.<br> 

        - Extrait de naissance du conjoint survivant portant mention de la situation familiale ou ;<br> le cas échéant une copie du contrat de mariage.<br> 

        - Photo d’identité du conjoint survivant.<br> 

        - Copie de la carte d’identité nationale du conjoint survivant.
    


    <h3><strong> Pension de réversion (décès d'un affilié à la retraite ou bénéficiant d’une allocation de vieillesse) </strong></h3>
    <p><strong>  Conditions d’obtention </strong><br>
        - Etre conjoint non divorcé de l’affilié décédé.<br>
        <strong> Pièces à fournir </strong><br> 
        - Imprimé « Fiche de renseignements » à remplir par le conjoint survivant.<br> 

        - Acte de décès.<br> 

        - Extrait de naissance du conjoint survivant portant mention de la situation familiale ou ; le cas échéant une copie du contrat de mariage.<br> 

        - Photo d’identité du conjoint survivant.<br> 

        - Copie de la carte d’identité nationale du conjoint survivant.<br> 
    </p>


    <strong> Pour avoir une avance sur capital décès (facultatif) : </strong><br> 
    <p>
    - Extrait de décès de l’affilié.<br> 

    - Copie de la carte d’identité nationale du conjoint survivant.<br> 
    
    - Demande d’une avance d’un capital décès.<br> 
</p>







<h3><strong> Indemnité familiale (titulaire de pension de retraite, d’une pension de réversion ou d’une allocation de vieillesse). </strong></h3>
<p><strong> Conditions d’obtention <br>

    a :  Jusqu’à l’âge de seize (16) ans : 
    </strong><br>
    -Les trois premiers enfants à charge.<br>

   <strong> b : Jusqu’à l’âge de dix-huit (18) ans :  </strong><br> 
   
</p>
<p>
-Les trois premiers enfants à charge poursuivant une formation professionnelle dans des établissements privés.

</p>

<strong> c : Jusqu’à l’âge de vingt et un (21) ans :  </strong><br> 
   
<p>
-Les trois premiers enfants à charge poursuivant des études secondaires ou universitaires ou une formation professionnelle organisée dans des établissements sous tutelle du Ministère de l’Education et de la Formation.

</p>

<strong>  d : Après l’âge de vingt et un (21) ans sans condition de rang ou de nombre : </strong><br> 
   
<p>
-L’enfant handicapé à charge n’exerçant pas une activité rémunérée.
</p>

<p><strong> Pièces à fournir  </strong><br>
   
    - Extrait de naissance de l’enfant ouvrant droit aux indemnités familiales.<br>

    - Certificat de présence scolaire pour l’enfant âgé entre 16 et 21 ans.<br>
    
    - Copie du contrat de formation professionnelle pour l’enfant âgé entre 16 et 18 ans.<br>
    
    - Copie de la carte de handicap de l’enfant handicapé et déclaration sur l’honneur de non-emploi pour l’enfant concerné ayant dépassé l’âge de 21 ans.<br>
    
    - Copie du contrat de mariage.<br>
    
    - Attestation de bénéfice de l’indemnité familiale dûment remplie et signée par l’employeur.<br>
    
    - Imprimé (fiche de renseignement) dûment rempli par l’affilié.<br>
   
</p>



<h3><strong> Indemnité de revenu unique au profit du bénéficiaire d'une pension de retraite ou d'une pension de réversion ou d’une allocation de vieillesse  </strong></h3>
<p><strong>  Conditions d’obtention </strong><br>
    - Etre bénéficiaire des indemnités familiales

    - conjoint n’exerçant pas une activité rémunérée (même condition pour le titulaire d’une pension de réversion (veuf ou veuve)
    
    -non titulaire d'une pension et n'ayant pas de revenu<br>
   <strong>  Pièces à fournir </strong><br> 
   - Extrait de naissance du conjoint portant mention de sa situation familiale ou une copie du contrat de mariage<br>

    - Imprimé « Déclaration sur l’honneur de non-emploi » du conjoint ou du veuf (ve) titulaire d’une pension de réversion
</p>



<h3><strong>  Coordination au titre de la retraite pour le bénéficiaire de plusieurs régimes </strong></h3>
<p><strong>  Conditions d’obtention </strong><br>
    -Atteindre l’âge légal de mise à la retraite<br>

    -Totalisation de cinq (05) ans au moins de cotisations au titre de la retraite dans les secteurs public et privé.<br>
   <strong>  Pièces à fournir </strong><br> 
   - Demande manuscrite<br>

    - Extrait de naissance<br>

    - Relevé de services<br>

    - Etat détaillé de retenues au titre de la retraite<br>

    - Arrêté de recrutement<br>

    - Arrêté de radiation ou de cessation d’activité
</p>




<h3><strong> Révision d’une pension  </strong></h3>
<p><strong> Conditions d’obtention  </strong><br>
    -Etre titulaire d’une pension de retraite ou d’une pension de réversion (veuf ou veuve)<br>
   <strong>  Pièces à fournir </strong><br> 
   - Demande manuscrite<br>

    - Relevé de services portant obligatoirement la mention « ANNULE ET REMPLACE » et mentionnant le changement dans la situation administrative<br>

    - Arrêté de nomination à un emploi fonctionnel ou d’un changement dans la carrière professionnelle le cas échéant.
</p>




<h3><strong> Procuration ou annulation de procuration  </strong></h3>
<p><strong> Conditions d’obtention  </strong><br>
    - Etre Bénéficiaire d’une pension de retraite ou d’une pension de réversion ou d’une allocation de vieillesse.<br>
   <strong> Pièces à fournir<br> 

    a)Pour la procuration :  
    </strong><br> 
    - Imprimé « Procuration » dûment rempli et portant signatures légalisées du mandant titulaire de la pension et du mandataire
    <br>
    - Photocopie de la carte d’identité du mandant<br>
    
    - Photocopie de la carte d’identité du mandataire<br>
    
    - Copie du jugement de tutelle
</p>
<strong> b : Pour annulation de la procuration : </strong><br> 
<p>
- Imprimé « Fin de procuration » dûment rempli et portant signature légalisée du mandant titulaire de la pension
</p>



<h3><strong>  Octroi d'une avance sur le capital décès pour le conjoint </strong></h3>
<p><strong> Conditions d’obtention  </strong><br>
    - Bénéficie de cette prestation le conjoint survivant, non divorcé de l’affilié(e) actif (ve) ou retraité(e) decujus.<br>
   <strong>  Pièces à fournir </strong><br> 
   - Imprimé « Demande d’une avance sur le capital-décès » dûment rempli et portant signature légalisée du conjoint survivant   (à remplir aussi par l’organisme employeur au cas où le décès survient en activité)<br>

    - Extrait de décès de l’affilié.<br>

    - Copie de la carte d’identité Nationale du conjoint survivant.
</p>



<h3><strong> Remandatement  </strong></h3>
<p><strong>  Conditions d’obtention </strong><br>
    - Etre bénéficiaire d'une prestation de la caisse nationale de retraite et de prévoyance sociale ayant une incidence financière.<br>

    - Péremption d'un mandat-carte.<br>
    
    - Virement dans un compte courant erroné ou clôturé à l'insu de la caisse<br>
   <strong>  Pièces à fournir </strong><br> 
   a : Pour les mandats de pension d'allocation de vieillesse :<br>

    - Imprimé « Remandatement » dûment rempli<br>
    - Engagement portant signature légalisée du titulaire de la pension<br>
    - Attestation de non encaissement délivrée par les services compétents de la poste<br>

    b :  Cas de Remandatement suite à un virement dans un compte courant clôturé ou erroné :<br>
    - Imprimé « Remandatement » dûment rempli<br>
    - Attestation de l'institution financière ayant reçu le virement portant mention de sa ré imputation dans le compte de la caisse nationale de retraite et de prévoyance sociale ouvert sur ses livres<br>
</p>




<h3><strong>  Indemnité Funéraire </strong></h3>
<p><strong> Conditions d’obtention  </strong><br>
    -Décès du conjoint d’un titulaire d’une pension de retraite.<br>
   <strong> Pièces à fournir  </strong><br> 
    - Demande d’octroi d’indemnité funéraire .<br>
    - Extrait de naissance du retraité portant mention de sa situation familiale ou une copie du contrat de mariage le cas échéant.<br>
    - Extrait de décès du conjoint de de cujus.
</p>



<h3><strong> Transfert de pension à l’étranger  </strong></h3>
<p><strong> Conditions d’obtention  </strong><br>
    Titulaire d'une pension de la CNRPS et résident dans un pays lié avec la TUNISIE par une convention bilatérale en matière de sécurité sociale dans le secteur public.<br>
   <strong>  Pièces à fournir </strong><br> 
   Demande de transfert de pension comportant adresse personnelle relevé d'identité bancaire ou postale dans le pays de résidence, certificat de résidence, certificat de vie.
</p>

  </div>