<app-adminheader></app-adminheader>
<app-sidebar1></app-sidebar1>
<div class="pagetitle">
    <h1>Les ressources humaines</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admindash">Accueil</a></li>
        <li class="breadcrumb-item">Statistique sur les ressources humaines</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
<body>
<div class="content" >
<div class="bi">
  <iframe title="RH1"width="1100" height="1700" 
  src="https://app.powerbi.com/view?r=eyJrIjoiZjIzZmQwNzUtZTgyNC00ZjlhLWE5NzctNjE2MDhjOTg1YmVmIiwidCI6ImRiZDY2NjRkLTRlYjktNDZlYi05OWQ4LTVjNDNiYTE1M2M2MSIsImMiOjl9" 
  frameborder="0" allowFullScreen="true"></iframe>
  </div>
</div>
</body>
