<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="pagetitle">
    <h1>Formalities</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashbord">Home</a></li>
        <li class="breadcrumb-item">Formalities</li>
        <li class="breadcrumb-item active">Affiliation</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
<div class="reyna">
        <h3><strong>Affiliation des services ou des organismes ou des établissements appartenant au secteur public.</strong> </h3>
        <p><strong>Conditions d’obtention</strong>
            <br>
            - L’affiliation à la Caisse Nationale de Retraite et de Prévoyance Sociale est systématique <br>
            exception faite pour les entreprises publiques et les établissements publics non <br>
            administratifs dont l’affiliation est subordonnée à un décret.
        </p>
        <h3><strong>Pièces à fournir Pour l’entreprise publique et l’établissement public non administratif :</strong></h3>
        <p>
            -Statuts de l’entreprise ou de l’établissement.
        </p>
        <h3><strong>Affiliation et immatriculation d’un agent appartenant au secteur public</strong></h3>
        <p><strong>Conditions d’obtention</strong><br>
             Appartenir à un organisme public affilié à la caisse nationale de retraite et de prévoyance sociale
            </p>

        <p><strong>Pièces à fournir</strong>

            - Imprimé conçu à cet effet (fiche d’immatriculation) dûment rempli et signé par l’affilié et par l’employeur.<br>

            - Copie de l’arrêté de recrutement ou copie du contrat de travail.<br>
            
            - Extrait de naissance de l’agent concerné.<br>
            
            - Copie de la carte d’identité nationale.
            </p>
            
<h3><strong> Régularisation des périodes de détachement dans le cadre de la coopération technique </strong></h3>

    <p><strong> Conditions d’obtention <br> Etre un agent public : </strong></p>
        <p> - Affilié à la Caisse Nationale de Retraite et de Prévoyance Sociale.

        - Détaché à l’étranger dans le cadre de la coopération technique.
        </p>     

<p><strong> Concernant le maintien de l’affiliation et le bénéfice des prestations : </strong></p>
    <p> * Au régime d’assurance-maladie et de capital décès :<br>

    - Avoir présenté une demande écrite pour le maintien de l’affiliation à ce régime.<br>
    
    - Avoir payé toutes les cotisations dues au titre de ce régime.<br>
    
    * Au régime de retraite et d’invalidité :<br>
    
    - Avoir payé toutes les cotisations dues au titre de ce régime.<br>
    </p>  

 <p><strong> Pièces à fournir <br> Pour le maintien de l’affiliation : </strong></p>
    <p> * Au régime d’assurance-maladie et de capital décès  :<br>

    - Avoir rempli un formulaire pour le maintien de l’affiliation à ce régime.<br>
    
    * Au régime de retraite et d’invalidité :<br>
    
    - Copie de l’arrêté de détachement dans le cadre de la coopération technique ou copie de l’arrêté de prolongation de ce détachement.<br>
    
    - Attestation du dernier salaire perçu par l’agent en Tunisie délivré par son organisme employeur.<br>
    
    - Copie du contrat de travail ou attestation du salaire global délivrée par l’employeur à l’étranger. </p>     

<h3><strong> Validation de services </strong></h3>

    <p><strong> Conditions d’obtention </strong></p>
        <p> -Présenter une demande de validation de services dans un délai de deux ans à partir de la date de fin de la période à valider <br> et dans tous les cas une année à partir de l’âge légal de mise à la retraite. </p>     
    
    <p><strong> Pièces à fournir </strong></p>
        <p> - Imprimé conçu à cet effet (Demande de validation de services) dûment rempli et signé par l’affilié et par l’employeur.<br>

        - Attestation des services effectifs ou<br>
        
        * Arrêté de détachement (concernant les agents détachés à l’étranger dans le cadre de la coopération technique) et arrêté de prolongation de ce détachement <br>
        - le cas échéant.<br>

        * Arrêté de fin de détachement (pour les agents détachés à l’étranger dans le cadre de la coopération technique). 
        </p>  

    <h3><strong> Remboursement des retenues au titre des cotisations de la retraite </strong></h3>

        <p><strong> Conditions d’obtention </strong></p>
            <p> - Atteindre l’âge légal de mise à la retraite.<br>

            - Présenter une demande en ce sens dans un délai ne dépassant pas une année à compter de l’âge légal de mise à la retraite.<br>
            
            - Ne pas répondre aux conditions exigées pour l’obtention d’une pension de retraite. 
            </p>     
        
        <p><strong> Pièces à fournir </strong></p>
            <p> - Demande manuscrite.<br>

            - Décision indiquant le motif de cessation de l’activité.<br>
            
            - Etat de validation de services (établi par l’employeur).<br>
            
            - Etat des retenues (établi par l’employeur). 
            </p>  

        <h3><strong> Régularisation des périodes d’activités objet de transfert de cotisations à la CNRPS </strong></h3>

            <p><strong> Conditions d’obtention. </strong></p>
                <p> -Appartenir à une Entreprise Publique dont l’affiliation est transférée  par décret de la Caisse Nationale de Sécurité Sociale à la Caisse Nationale de Retraite et de Prévoyance Sociale<br>

                - Déclaration des périodes d’activités avant le transfert de la Caisse Nationale de Sécurité Sociale à la Caisse Nationale de Retraite et de Prévoyance Sociale<br>
                
                -Transfert des cotisations déclarées auprès de la Caisse Nationale de Sécurité Sociale à la Caisse Nationale de Retraite et de Prévoyance Sociale<br>
                
                -Versement par l’employeur et l’employé de la différence entre les sommes dues et les sommes transférées, calculée en tenant compte des taux de cotisation au titre de la retraite. 
                </p>     
            
            <p><strong> Pièces à fournir </strong></p>
                <p> - Imprimé  « Demande de régularisation des  périodes d’activités  objet de transfert de cotisations à la CNRPS ».<br>

                - Etat détaillé des cotisations transférées de la CNSS à la CNRPS. 
                </p>  

    
    
    
    
    
    
    
    
    
    </div>