<app-header></app-header>
<app-sidebar></app-sidebar>
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Contact</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="dashbord">Accueil</a></li>
          <li class="breadcrumb-item">Pages</li>
          <li class="breadcrumb-item active">Contact</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section contact">

        <div class="col-xl-6">
          <div >
            
            <form class="php-email-form"  #form>
              <div class="row gy-4" >
                <div class="col-md-6">
                  <input type="text" name="username" class="form-control" placeholder="Votre Nom d'utilisateur" [(ngModel)]="username" required >
                </div>
                <div class="col-md-6 ">
                  <input type="email" class="form-control" name="email" placeholder="Votre Email" [(ngModel)]="email" required >
                </div>
                <div class="col-md-12">
                  <input type="text" class="form-control" name="number" placeholder="Votre Numéro" [(ngModel)]="number" required >
                </div>
                <div class="col-md-12">
                  <input type="text" class="form-control" name="subject" placeholder="Votre Objet" [(ngModel)]="subject" required >
                </div>
                <div class="col-md-12">
                  <textarea class="form-control" name="message" rows="6" placeholder="Votre Message" [(ngModel)]="message" required >
                  </textarea>
                </div>
                <div class="col-md-12 text-center">
                  <button type="submit" (click)="send()">Envoyer un message</button>
                </div>
              </div>
            </form>
          </div>
        </div>
        


    

    </section>

  </main><!-- End #main -->
