<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="pagetitle">
    <h1>Les ressources humains</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashbord">Accueil</a></li>
        <li class="breadcrumb-item">Statistique sur les ressources humains</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
<body>
<div class="content" >
<div class="bi">
  <iframe title="RH1" width="1100" height="1520" 
  src="https://app.powerbi.com/reportEmbed?reportId=b92123e8-bb53-4dbf-bca1-4b9855d23ac0&autoAuth=true&ctid=dbd6664d-4eb9-46eb-99d8-5c43ba153c61" 
  frameborder="0" allowFullScreen="true"></iframe>
  </div>
</div>
</body>
