.reyna{
    margin-left: 24%;
    margin-top: 6%;
}

.pagetitle {
    margin-left: 24%;
    margin-top: 6%;
  }
  
  .pagetitle h1 {
    font-size: 24px;
    margin-bottom: 0;
    font-weight: 600;
    color: #012970;
  }
  
  table {
    border-collapse: collapse;
    width: 79%;
    margin-left: 21%;
    
  }
 
  
  th, td {
    
    padding: 8px;
    text-align: center;

  }
  
  th {
    background-color: #F7F7F7;
    font-weight: bold;
    text-align: center;
  }
  
  tr:nth-child(even) {
    background-color: #F7F7F7;
  }
  
  tr:hover {
    background-color: #ECECEC;
  }
  
  button {
    padding: 8px 12px;
    border-radius: 4px;
    background-color: #005eff;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 4px;
  }
  .edit-button {
    background-color: #005eff;
    border: none;
    cursor: pointer;
  }
  
  .edit-button:hover {
    background-color: green;
  }
  
  button:hover {
    background-color: #dc3545;
  }
 
  .update-form {
    position: fixed;
    top: 54%;
    left: 54%;
    width: 620px;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px #007bff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .update-form h2 {
    margin-top: 0;
    font-size: 1.5rem;
    text-align: center;
  }
  
  .update-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .update-form input,
  .update-form select {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 1rem;
  }
  
  .update-form button {
    display: block;
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 3px;
    background-color: #007bff;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .update-form button[type="submit"] {
    background-color: #0069d9;
  }
  
  .update-form button[type="button"] {
    background-color: #005eff;
  }
  
  .update-form button:hover {
    background-color: #dc3545;
  }
  
  
  
  
    