<app-adminheader></app-adminheader>
<app-sidebar1></app-sidebar1>
<div class="pagetitle">
    <h1>Formalities</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admindash">Home</a></li>
        <li class="breadcrumb-item">Formalities</li>
        <li class="breadcrumb-item active">Pensions</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
  <div class="reyna">
    <h6><strong>Conditions d’obtention</strong> </h6>
    <p><strong>a : Pour la pension de retraite :</strong>
        - Atteindre l’âge légal de mise à la retraite.<br>
        - Cotiser au titre de la retraite pendant une période de quinze (15) ans au moins
        ;<br> cette période étant ramenée à dix (10) ans pour les ouvriers occasionnels.<br>
        <strong>b : Pour l’allocation de vieillesse :</strong><br>
        - Atteindre l’âge légal de mise à la retraite.<br>
        - Cotiser au titre de la retraite pendant une période de cinq (05) ans au moins.<br>
        <strong>Pièces à fournir</strong><br>
        - Arrêté de mise à la retraite.<br>

        - Relevé de services dûment rempli et signé par l’employeur et l’affilié.<br>

        - Photo d’identité.<br>

        - Extrait de naissance le cas échéant.<br>

        - Demande manuscrite pour le prétendant à une allocation de vieillesse.
    </p>
    <h6><strong>Pension de réversion (décès d’un affilié en activité)</strong></h6>
    <p><strong>Conditions d’obtention</strong><br>
        -Etre conjoint non divorcé de l’affilié décédé.<br> 
        <strong>Pièces à fournir</strong><br> 
        - Imprimé « Fiche de renseignements » à remplir par le conjoint survivant.<br> 

        - Relevé de services de l’affilié décédé dûment rempli et signé par l’employeur.<br> 

        - Acte de décès.<br> 

        - Extrait de naissance du conjoint survivant portant mention de la situation familiale ou ;<br> le cas échéant une copie du contrat de mariage.<br> 

        - Photo d’identité du conjoint survivant.<br> 

        - Copie de la carte d’identité nationale du conjoint survivant.
    </p>




















  </div>