<header>
  <nav>
    
    <ul>
       <li><a href="home" style="color: #fff;">Acceuil</a></li>
    </ul>
  </nav>
</header>
<body>

    <main>
      <div class="container">
  
        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
  
                <div class="d-flex justify-content-center py-4">
                  <a href="/register" class="logo d-flex align-items-center w-auto" style="text-decoration: none;">
                    <img src="./assets/img/logo1.jpg" alt="">
                    <span class="d-none d-lg-block">Inscription</span>
                  </a>
                </div><!-- End Logo -->
  
                <div class="card mb-3">
  
                  <div class="card-body">
  
                    <div class="pt-4 pb-2">
                      <h5 class="card-title text-center pb-0 fs-4">Créer un compte</h5>
                      <p class="text-center small">Veuillez entrer vos informations personnelles pour créer un compte</p>
                    </div>
                    <form [formGroup]="registerform" (ngSubmit)="proceedregister()" class="row g-3 needs-validation" novalidate>
                      <div class="col-12">
                        <label for="yourUsername" class="form-label">Votre nom d'utilisateur</label>
                        <input type="text" name="username" class="form-control" id="Username" required formControlName="username">
                        <div class="invalid-feedback">Veuillez entrer votre nom d'utilisateur !</div>
                      </div>
  
                      <div class="col-12">
                        <label for="yourEmail" class="form-label">Votre adresse e-mail</label>
                        <div class="input-group has-validation">
                          <span class="input-group-text" id="inputGroupPrepend">@</span>
                          <input type="email" name="email" class="form-control" id="Email" required formControlName="email">
                          <div *ngIf="registerform.controls.email.errors?.['email']" class="error-message">Entrez une adresse email valide.</div>
                        </div>
                      </div>
  
                      <div class="col-12">
                        <label for="yourPassword" class="form-label">Mot de passe</label>
                        <input type="password" name="password" class="form-control" id="Password" required formControlName="password">
                        <div class="invalid-feedback">Veuillez entrer votre mot de passe!</div>
                      </div>
                      <div class="col-12">
                        <label for="yourAge" class="form-label">Âge</label>
                        <input type="number" name="Age" class="form-control" id="Age" required formControlName="Age">
                        <div class="invalid-feedback">Veuillez entrer votre âge!</div>
                      </div>
  
                      
                      <div class="col-12">
                        <button class="btn btn-primary w-100" type="submit">Créer un compte</button>

                      </div>
                      <div class="col-12">
                        <p class="small mb-0">Avez-vous déjà un compte ?<a routerLink="../login">Se connecter</a></p>
                      </div>
                    </form>
  
                  </div>
                </div>
  
              </div>
            </div>
          </div>
  
        </section>
  
      </div>
    </main><!-- End #main -->
 
    
    <footer>
      <div class="container">
        <p>&copy; 2023 CNRPS Tunisia. All rights reserved.</p>
     
              <div class="row">
                <div class="col-lg-6">
                  <div class="info-box card">
                    <i class="bi bi-geo-alt">Address</i>
                    <p>Adresse: 6, AV. Mohamed V<br>Tunis.1001 Tunis-République</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="info-box card">
                    <i class="bi bi-telephone">Contactez-nous</i>
                    <p>Téléphone: (+216) 71 259 100 <br>Télécopie: (+216) 351 531.</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="info-box card">
                    <i class="bi bi-envelope">Email</i>
                    <p>info@cnrps.nat.tn</p>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="info-box card">
                    <i class="bi bi-clock">Heure de travail</i>
                    <p>De Lundi à Vendredi : de 8h à 17h<br>Samedi : de 9h à 12h.</p>
                  </div>
                </div>
              </div>
    </div>
    </footer>
  </body>