<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="pagetitle">
    <h1>Graphiques</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="admindash">Accueil</a></li>
        <li class="breadcrumb-item">Pages</li>
        <li class="breadcrumb-item active">Graphiques<li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
  <div class="para-stat">
    <h4>
      <strong>Ministère des Affaires Sociales</strong><br>
      <strong>Caisse Nationale de Retraite et de Protection Sociale</strong>
     </h4>
  </div>
  <body>
    <div class="bi">
      <iframe title="test2"  width="1050" height="2000"
      src="https://app.powerbi.com/reportEmbed?reportId=70692c85-c590-4459-9345-fa7a989123e1&autoAuth=true&ctid=dbd6664d-4eb9-46eb-99d8-5c43ba153c61"
       frameborder="0" allowFullScreen="true">
      </iframe>
  </div>
  
  </body>