<app-adminheader></app-adminheader>
<app-sidebar1></app-sidebar1>

<div class="pagetitle">
    <h1>Formalities</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admindash">Home</a></li>
        <li class="breadcrumb-item">Formalities</li>
        <li class="breadcrumb-item active">Prestations de soutien</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
<div class="reyna">
    <h6><strong>Location des logements</strong></h6>
    <p>
        <strong>Conditions d’obtention : </strong> <br>
        - Avoir une ancienneté d’affiliation de deux ans au moins à la Caisse Nationale de Retraite <br>
          et de Prévoyance Sociale<br>
        - Etre titulaire en activité (à la date du dépôt de la demande)<br>
        - Ne pas être propriétaire d’un logement : <br>
        * dans le même gouvernorat où se situe le logement objet de la demande <br>
        * dans les gouvernorats de Tunis, Ariana, Manouba et Ben Arous lorsqu’il s’agit du grand Tunis
    </p>
    <p><strong>Pièces à fournir</strong>
        - Imprimé « Demande de location » dûment rempli et portant signature  du demandeur de la prestation<br>

        - Attestation de salaire de l’affilié selon un imprimé délivré par la CNRPS<br>

        - Attestation de salaire du conjoint si il(elle) est en activité(e)<br>

        - Extraits de naissance des enfants<br>

        - Copie de la décision de mutation (*)<br>

        - Copie du contrat de location (*)<br>

        - Copie de la carte d’identité nationale de l’affilié et de son conjoint.<br>

        (*) Ces pièces seront présentées le cas échéant.
    
    </p>





</div>