<app-header></app-header>
<app-sidebar></app-sidebar>
<div class="pagetitle">
    <h1>Finance</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/dashbord">Accueil</a></li>
        <li class="breadcrumb-item">Statistique sur les finances</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
<body>
<div class="content" >
<div class="bi">
    <iframe title="finance" width="1100" height="1680" 
    src="https://app.powerbi.com/view?r=eyJrIjoiM2M5ODJlYWItMWU4NS00ZGVjLWE4MDAtZjQzMGY3MTEyMWI3IiwidCI6ImRiZDY2NjRkLTRlYjktNDZlYi05OWQ4LTVjNDNiYTE1M2M2MSIsImMiOjl9" 
    frameborder="0" allowFullScreen="true"></iframe>
  </div>
</div>
</body>
