.pagetitle {
    margin-left: 24%;
    margin-top: 6%;
  }
  
  .pagetitle h1 {
    font-size: 24px;
    margin-bottom: 0;
    font-weight: 600;
    color: #012970;
  }
  .reyna{
    margin-left: 24%;
    margin-top: 6%;
}

  table {
    border-collapse: collapse;
    width: 78%;
    margin-left: 22%;
    
  }

  
  @media (max-width: 1200px) {
    table {
      color: #005eff;
    }
  }
  
  
  th, td {
    
    padding: 8px;
    text-align: center;

  }
  
  th {
    background-color: #F7F7F7;
    font-weight: bold;
    text-align: center;
  }
  
  tr:nth-child(even) {
    background-color: #F7F7F7;
  }
  
  tr:hover {
    background-color: #ECECEC;
  }
  
  button {
    padding: 8px 12px;
    border-radius: 4px;
    background-color: #005eff;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 4px;
  }
  
  button:hover {
    background-color: #dc3545;
  }
  .delete-button i {
    margin-right: 5px; /* Add some space between the icon and the text */
  }
  

  
  
  
  
  
  
  
  
 
  
    
