<app-adminheader></app-adminheader>
<app-sidebar1></app-sidebar1>
<main id="main" class="main">

    <div class="pagetitle">
      <h1>Contact</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="admindash">Home</a></li>
          <li class="breadcrumb-item">Pages</li>
          <li class="breadcrumb-item active">Contact</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section contact">

      <div class="row gy-4">

        <div class="col-xl-6">

          <div class="row">
            <div class="col-lg-6">
              <div class="info-box card">
                <i class="bi bi-geo-alt"></i>
                <h3>Address</h3>
                <p>Adresse: 6, AV. Mohamed V, Tunis.<br>1001 Tunis-République</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="info-box card">
                <i class="bi bi-telephone"></i>
                <h3>Contactez-nous</h3>
                <p>Téléphone: (+216) 71 259 100<br>Télécopie: (+216) 351 531.</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="info-box card">
                <i class="bi bi-envelope"></i>
                <h3>Email</h3>
                <p>info@cnrps.nat.tn</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="info-box card">
                <i class="bi bi-clock"></i>
                <h3>Heure de travail</h3>
                <p>De Lundi à Vendredi : de 8h à 17h<br>Samedi : de 9h à 12h.</p>
              </div>
            </div>
          </div>

        </div>
      
          </div>


   


    </section>

  </main><!-- End #main -->
